*.o
*.a
*.swp
samples/out/
tests/bin/


*.exe
Debug/
Release/
*.sdf
*.opensdf
*.suo
.vs/pe_bliss_vc12/v16/Solution.VC.db-shm
.vs/pe_bliss_vc12/v16/Solution.VC.db-wal
.vs/pe_bliss_vc12/v16/Solution.VC.db
.vs/pe_bliss_vc12/v16/Browse.VC.opendb
.vs/pe_bliss_vc12/v16/Browse.VC.db
